<div class="container-fluid">
    <h5 class="title-cafe">El aroma m&aacute;gico</h5>
  <hr/>
  <img src="./assets/image 1.png"/>
  <hr/>

    <table class="table table-fit">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Tipo</th>
          <th scope="col">Region</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cafes">
          <th scope="row">{{item.id}}</th>
          <td>{{item.nombre}}</td>
          <td>{{item.tipo}}</td>
          <td>{{item.region}}</td>
        </tr>

      </tbody>
    </table>

    <div class="footer">
      <p>Contact us: +57 3102105253 - info@elaromamagico.com - @elaromamagico</p>
    </div>

</div>
